<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_LINQ.Properties.Settings.CrudLinqSql" connectionString="Data Source=PC-Leo-Lima;Initial Catalog=GestionPedidos;User ID=sa;Password=carrorojo98"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>