html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

h1{
    color: navy;
}

img, video {
    max-width: 100%;
    height: auto;
    /* El maximo de la anchura es el 100% de la pantalla y la altura es automatica para no deformar la imagen */
}

iframe{
    width: 80%;
    height: 400px;
}