<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="SchoolDBConnectionString" 
    connectionString="Data Source= PC-Leo-Lima; Initial Catalog=SchoolDb; User ID=sa; Password=carrorojo98;" 
    providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>